# Course work (academic integrity)
Class-PROG3360-software-delivery-and-release-management/
Class-BUS3140-IT-Entrepreneurship/
Class-PROG3176-distributed-applications-development/
Class-PROG3240-business-intelligence/
Class-INFO3220-systems-project/
portfolio-ai-video-marketing/